<div class="dashboard-content">
  <div class="row">
    <div class="col-xs-12">
      <mat-card>
        <mat-card-header>
          <h2>{{ project?.name }}</h2>
        </mat-card-header>
        <mat-card-content>
          Description: {{ project?.description }} <br>
          Area extension: {{ project?.area_extension }}m<sup>2</sup> <br>
          Latitude: {{ project?.latitude}} <br>
          Longitude: {{ project?.longitude }} <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-8">
      <mat-card>
        <mat-card-content>
          <div id="map-container">
            <div class="row" id="map"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <mat-card>
        <mat-card-header>
          <h4>Define the search range for scientific articles</h4>
        </mat-card-header>
        <mat-card-content>
          <mat-slider min="50" max="1000" step="10" showTickMarks discrete [displayWith]="defineSearchRange">
            <input matSliderThumb [(ngModel)]="radius">
          </mat-slider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="getArticlesNearProject()">Find articles</button>
        </mat-card-actions>
        <mat-card-footer *ngIf="articles">
          <mat-card-content *ngFor="let article of articles">
            Pub date: {{ article.actual_pub_date }} <br>
            Latitude: {{ article.latitude }} <br>
            Longitude: {{ article.longitude }} <br>
            Keyword: {{ article.keyword }} <br><br>

            Title: {{ article.title }} <br>
            Location: {{ article.location }} <br>
            Authors: {{ article.authors }} <br>
            Reference author: {{ article.reference_author }} <br>
            Publication name: {{ article.publication_name }} <br>
            Pages: {{ article.pages }} <br>
            Pub comment: {{ article.pub_comment }} <br>
            <mat-divider></mat-divider> <br>

          </mat-card-content>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
